footer {

	div#footer {

		padding: 			2rem;

		background: 		$footer-bg;
		color: 				#ffffff;

		@include box-shadow(1px, 1px, 5px, 1px, $body-inverse-bg);

		a {

			color: 				#ffffff;
			text-decoration: 	underline;

			&.footer-brand {

				position: 			relative;
				display: 			inline-block;

				margin: 			5rem 0 0 0;
				padding: 			7px 10px !important;

				font-size: 			1.2rem;
				text-decoration: 	none;

				color: 				$footer-color;
				background: 		transparent;
				border: 			1px solid $footer-color;
				text-stroke: 		1px $footer-color;
				text-fill-color: 	$footer-bg;
				-webkit-text-stroke: 		1px $footer-color;
				-webkit-text-fill-color: 	$footer-bg;
				font-weight: 		600;

				&:hover, &:focus {
					color: 				$footer-bg;
					background: 		$footer-color;
					border: 			1px solid $footer-color;
					text-stroke: 		1px $footer-bg;;
					text-fill-color: 	$footer-bg;;
					-webkit-text-stroke: 		1px $footer-bg;;
					-webkit-text-fill-color: 	$footer-bg;;
					text-decoration: 	none;
				}
			}
			
									@supports (-ms-ime-align:auto) {
					&.footer-brand {
						-webkit-text-stroke: none;
						-webkit-text-fill-color: rgba(255,255,255,0.5);
					}
				}

		}

	}

}
