nav {

	z-index: 1000000;
	position: absolute;

	margin: 0 0 2rem 0;

	@include text-outline(2px);

	a {
		text-decoration: none;
		margin: 1rem;

		position: relative;
		display: block;

		height: 2rem;
		width: auto;

		line-height: 2rem;
		font-size: 2rem;
		font-weight: 700;
		text-transform: uppercase;

		&:hover, &:focus {
			text-decoration: none !important;
			@include text-outline-inverse;
		}

		&:before {
			width: 2rem;
			height: 2rem;

			position: relative; // was position: absolute;
			display: block;
			float: left;

			font-size: 2rem;
			line-height: 2rem;

			z-index: 10000 !important;
			content: "← ";
		}
	}

}


/* Microsoft Edge Browser 12+ (All) - @supports method */

@supports (-ms-ime-align:auto) {
	nav {
		-webkit-text-stroke: none;
		-webkit-text-fill-color: rgba(255,255,255,0.5);
	}
}