nav {

	z-index: 1000000;
	position: absolute;

	margin: 0 0 2rem 0;

	a {
		text-decoration: none;
		margin: 1rem;

		position: relative;
		display: block;

		height: 2rem;
		width: auto;

		line-height: 2rem;
		font-size: 1.5rem;
		font-weight: 600;
		text-transform: uppercase;

		&:hover, &:focus {
			text-decoration: none !important;
		}

		&:before {
			width: 1.5rem;
			height: 2rem;

			position: relative; // was position: absolute;
			display: block;
			float: left;

			font-size: 1.5rem;
			line-height: 2rem;

			z-index: 10000 !important;
			content: "← ";
		}
	}

}