body#social {

	main {

		padding: 4rem 0 4rem 0;

		div#header {

			min-height: 		50vh !important;

		}

		div.card {

			margin: 0 0 2rem 0;

			@include box-shadow(1px, 1px, 5px, 1px, $body-inverse-bg);

			h1, h2, h3 {
				text-align: center;
			}

			h1, h2 {
				text-transform: uppercase;
				font-weight: 700;
			}

			h3 {
				margin: 1rem 0;
			}

		}


		div#imageInputs {

		}


		div#imageOutputs {

			div#placeholder {
				margin: 1.5rem 0 0 0;
				color: white;
				text-align: center;

				p.h2 {
					text-transform: uppercase;
					font-weight: 600;
				}
			}

			max-height: 80vh;
			overflow-y: scroll;

		}

	}

}