<footer>

	<div id="footer" class="card">

		<div class="row">

			<div class="col-xs-12 col-sm-6">

				<p>The <strong>Civil Service LGBT Impact Index</strong> is a new initiative from the <strong>Civil Service Rainbow Alliance</strong> - the organisation representing LGBT civil servants</p>

			</div>

			<div class="col-xs-12 offset-sm-2 col-sm-4">

				<div class="row">

					<div class="col-6"><strong>Website:</strong></div>
					<div class="col-6"><a href="//ukcsra.com/" title="Visit the CSRA website (Opens in new window)" target="_blank">ukcsra.com</a></div>
					<div class="col-6"><strong>Twitter:</strong></div>
					<div class="col-6"><a href="//twitter.com/ukcsra" title="Visit CSRA on Twitter (Opens in new window)" target="_blank">@ukcsra</a></div>
					<div class="col-6"><strong>Facebook:</strong></div>
					<div class="col-6"><a href="//facebook.com/ukcsra" title="Visit CSRA on Facebook (Opens in new window)" target="_blank">ukcsra</a></div>
					<div class="col-6"><strong>Instagram:</strong></div>
					<div class="col-6"><a href="//instagram.com/ukcsra" title="Visit CSRA on Instagram (Opens in new window)" target="_blank">ukcsra</a></div>

				</div>

			</div>

			<div class="col-12 text-center">
				<a href="//jrpeart.com" title="Site created by John Peart. Visit home page." class="footer-brand">JP</a>
			</div>

		</div>

	</div>

</footer>