<footer>

	<div class="container">

		<div class="row">

			<div class="col-xs-12 col-sm-6">

				<p>The <strong>Civil Service LGBT Impact Index</strong> is a new initiative from the <strong>Civil Service Rainbow Alliance</strong> - the organisation representing LGBT civil servants</p>

			</div>

			<div class="col-xs-12 offset-sm-2 col-sm-4">

				<p><strong>Website:</strong> <a href="//ukcsra.com/" title="Visit the CSRA website (Opens in new window)" target="_blank">ukcsra.com</a></p>

				<p><strong>Twitter:</strong> <a href="//twitter.com/ukcsra" title="Visit CSRA on Twitter (Opens in new window)" target="_blank">@ukcsra</a></p>


				<p><strong>Facebook:</strong> <a href="//facebook.com/ukcsra" title="Visit CSRA on Facebook (Opens in new window)" target="_blank">ukcsra</a></p>


				<p><strong>Instagram:</strong></strong> <a href="//instagram.com/ukcsra" title="Visit CSRA on Instagram (Opens in new window)" target="_blank">ukcsra</a></p>

			</div>

		</div>

		<div class="row ident text-xs-center">

			<div class="col-xs-12">

				<p><a href="http://johnpeart.org" title="Site created by John Peart. Visit home page." class="footer-brand">JP</a></p>

			</div>

		</div>

	</div>

</footer>