---
layout: default
---

<div id="header">

	<div id="page-title">

		<h1>Civil Service LGBT <span class="text-fill">Impact</span> Index</h1>

		<nav class="scroll"><a class="arrow-down" href="#content" title="Skip to content"><span class="sr-only">Skip to content</span></a></nav>

	</div>

</div>

<div id="content" class="row">

	<div class="col-xs-12 col-sm-8">

		{{ content }}

		{% include nominations-callout.html %}

	</div>

	<div class="col-xs-12 col-sm-4">

		{% include index-aside.html %}

	</div>

</div>