---
layout: default
---

<div id="home">

	<div id="header">

		<div class="container">

			<a href="//ukcsra.com" title="Go to the Civil Service Rainbow Alliance website"><img class="logo" src="{{ '/csra-wh-logo.png' |  prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" alt="The Civil Service Rainbow Alliance logo"></a>

			<h1> Civil Service LGBT <span class="text-fill">Impact</span> Index </h1>
			<p id="nominateNowHeader" class="lead">Nominations open. <a href="{{ '/nominate' | prepend: site.baseurl | prepend: site.url }}" title="Nominate a person, network or team for the Index now">Nominate now</a>.</p>

			<a class="arrow-down" href="#content" title="Skip to content"><span class="sr-only">Skip to content</span></a>

		</div>

	</div>

	<div id="content">

		<main>

			<div class="container">

				<div class="row flex-items-xs-center">

					<div class="col-xs-12 col-md-8 col-lg-8">

						<p class="lead">The Civil Service LGBT Impact Index celebrates the civil servants making things better for LGBT people.</p>

						<p>The Impact Index is a new initiative from <a href="//ukcsra.com/" title="go to the Civil Service Rainbow Alliance website">CSRA</a> - the network representing LGBT civil servants - to recognise the important work that LGBT civil servants and LGBT allies do to improve the Civil Service and the public services that LGBT people rely on.</p>

							<!--<h1>How the Index works</h1>

							<div class="embed-responsive embed-responsive-16by9">
							  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sGHFXW4x7vs" allowfullscreen></iframe>
							</div>-->

						<hr>

							<h1>How the Index works</h1>

							<p>We're creating 4 indices:</p>

							<ol>
								<li><strong><a href="/awards/indices/lgbt-civil-servants/" title="Read more about the LGBT civil servants Index">LGBT Civil Servant Index</a></strong> will celebrate LGBT civil servants who are acting as role models in their organisation and making the Civil Service and wider world better for LGBT people</li>
								<li><strong><a href="/awards/indices/allies/" title="Read more about the Allies Index">Allies Index</a></strong> will celebrate individuals who aren't LGBT but who are making a difference to the lives of LGBT civil servants and LGBT citizens</li>
								<li><strong><a href="/awards/indices/networks/" title="Read more about the Networks Index">Networks Index</a></strong> will recognise the hard work of departmental LGBT networks</li>
								<li><strong><a href="/awards/indices/teams/" title="Read more about the Teams Index">Teams Index</a></strong> will recognise Civil Service teams who, through their work, are improving the lives of LGBT people in general</li>
							</ol>

							<p>Each Index will be a rank ordered list of the best role models in the Civil Service; nominated by you, and ranked by an independent panel.</p>

						<hr>

							<h2>Nominations</h2>

							<p>Nominations will open on <time datetime="2017-03-31 10:00">17 April 2017</time>.</p>

							<p>Nominations will close at midnight on <time datetime="2017-04-01 23:59">15 May 2017</time>.</p>

							<p>Nominations are open to anyone working in the UK Civil Service, or a Crown body. You can nominate yourself or someone else to be part of the Index.</p>

						<hr>

						<div id="nominateNow" class="card second" >
							<div class="card-block">
								<p class="h1 display-3 card-title"><a href="{{ '/nominate' | prepend: site.baseurl | prepend: site.url }}" title="Nominate a person, network or team for the Index now">Nominate now</a></p>
							</div>
					    </div>

					</div>

					<div class="col-xs-12 col-md-12 col-lg-4">

						<div class="row">

							{% for index in site.indices %}

							<div class="col-md-6 col-lg-12">


								<div class="card {{ index.which }}">
									<div class="card-block">
										<p class="h1 card-title"><a href="{{ index.url | prepend: site.baseurl | prepend: site.url }}">{{ index.display }}</a></p>
									</div>
							    </div>

							</div>


						    {% endfor %}

						</div>

					</div>

			</div>

		</main>

	</div>

</div>

