---
layout: default
---

<div id="header">

	<div id="page-title">

		<h1>The Indices</h1>

	</div>

</div>

<div id="content" class="row">

	{% for index in site.indices %}

		<div class="col-xs-12 col-sm-6">

			<a class="card-link" href="{{ index.url | prepend: site.baseurl | prepend: site.url }}" title="Read more about the {{ index.title }}">

				<div class="card card-inverse">

					<div class="card-block">

						<p class="h2 card-title">{{ index.display }}</p>

					</div>

				</div>

			</a>

		</div>

	{% endfor %}

	<div class="col-12">

	{% include nominations-callout.html %}

	</div>

</div>