---
layout: default
---

<div id="page">

	<div id="header">

		<div class="container">

			<h1> {{ page.display }} </h1>
			<p id="nominateNowHeader" class="lead">Nominations close on <time datetime="{{ site.nominations-close }}">{{ site.nominations-close | date: "%d %B %Y" }}</time>.</p>

			<a class="arrow-down" href="#content" title="Skip to content"><span class="sr-only">Skip to content</span></a>

		</div>

	</div>

	<div id="content">

		<main>

			<div class="container">

				<div class="row flex-items-xs-center">

					<div class="col-xs-12 col-md-8 col-lg-8">

						{% if site.nominations == "open" %}

						<div id="nominateNow" class="card second" >
							<div class="card-block">
								<p class="h1 display-4 card-title"><a href="https://ukcsra.typeform.com/to/r2M2Mh" title="Nominate a person, network or team for the Index now">Submit your nomination</a></p>
							</div>
					    </div>

						{% endif %}

						{{ content }}

					</div>

				</div>

			</div>

		</main>

	</div>

</div>

